@import './abstracts/mixins';

$font-family: 'Special Elite', cursive;

$primary-color: #d3aa00;
$primary-color-active: #f7e926;
$secondary-color: #292d3e;
$ternary-color: #fefdf7;
$quarternary-color: #615042;

*,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 1em;

	@media only screen and (max-width: 50em) and (orientation: portrait) {
		font-size: 1.3em;
	}

	@media only screen and (max-width: 30em) {
		font-size: 1.4em;
	}
}

html {
	background-color: $secondary-color;
	font-family: $font-family;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.nav-bar {
	position: -webkit-sticky;
	position: sticky;
	z-index: 100;
	top: 0;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: minmax(50%, auto);
	grid-auto-flow: row;
	align-items: center;
	background-color: $secondary-color;

	.nav-logo-link {
		grid-column: 1/2;
		display: inline;
		font-size: 1.5vw;

		@media only screen and (max-width: 50em) and (orientation: portrait) {
			margin: 0 auto;
		}

		.nav-logo {
			width: 33vw;
			padding: 1vw 1vw 0;
			margin-bottom: 0.5vw;

			@media only screen and (max-width: 50em) and (orientation: portrait) {
				width: 80vw;
			}
		}
	}

	.nav-ul {
		grid-column: 2/2;
		display: flex;
		justify-content: space-around;

		.nav-li {
			list-style-type: none;
			font-size: 2.5vw;
			padding-right: 2vw;

			.nav-link {
				text-decoration: none;
				color: $primary-color;

				&:hover,
				&:active {
					color: $primary-color-active;
				}
			}
		}

		@media only screen and (max-width: 50em) and (orientation: portrait) {
			grid-column: 1/-1;
		}
	}
}

.main-container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	align-items: center;
	justify-items: center;
	width: 100%;
	height: 100%;

	.main-cover {
		grid-column: 1;
		grid-row: 1;
		z-index: 90;
		max-width: 78%;
	}

	.main-header {
		grid-column: 1;
		grid-row: 1;
		z-index: 95;
		background-color: $secondary-color;
		opacity: 0.8;
		color: $ternary-color;
		padding: 0.5vw 1vw;
		border-radius: 1vw;
		line-height: 5vw;

		@media only screen and (max-width: 50em) and (orientation: portrait) {
			line-height: 7vw;
		}

		.main-header-1 {
			font-size: 3vw;

			@media only screen and (max-width: 50em) and (orientation: portrait) {
				font-size: 5vw;
			}
		}

		.main-header-2 {
			font-size: 4vw;
			padding-left: 3vw;

			@media only screen and (max-width: 50em) and (orientation: portrait) {
				font-size: 6vw;
			}
		}

		.main-header-3 {
			font-size: 1.5vw;
			font-style: italic;
			line-height: 5vh;
			text-align: right;

			@media only screen and (max-width: 50em) and (orientation: portrait) {
				font-size: 3vw;
				line-height: 4vw;
			}

			@media only screen and (max-width: 50em) and (orientation: landscape) {
				font-size: 2vw;
			}
		}
	}

	.main-enter {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 95;
		background-color: $primary-color;
		color: $secondary-color;
		font-family: 'Special Elite', cursive;
		font-size: 3vw;
		margin-top: -10vw;
		border: none;
		border-radius: 0.5vw;

		.main-enter-label {
			display: inline;
			padding: 0.7vw 0 0 1vw;
		}

		.action-btn {
			background-color: transparent;
			padding: 1vw 0;
			margin: 0 1vw;
			border: 0;
			cursor: pointer;
		}

		.action-btn.action-btn-big {
			color: $secondary-color;
			font-size: 2vw;
		}

		.action-btn:focus {
			outline: 0;
		}
	}
}

.game-rules-container {
	position: relative;
}

.game-rules-container::before {
	z-index: 90;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: url(../images/background-gamerules.png), $quarternary-color;
	background-size: cover;
	background-position-x: center;

	@include background-opacity;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 82vw;
	margin: 0 auto;
}

.header {
	z-index: 95;
	margin: 10vw 0 5vw;
	font-size: 3vw;
	font-weight: 400;
	color: $primary-color;
	border-bottom: $primary-color 1px solid;

	@media only screen and (max-width: 50em) and (orientation: portrait) {
		font-size: 5vw;
		margin: 20vw 0 5vw 0;
	}
}

.fa-arrow-circle-up {
	position: fixed;
	z-index: 99;
	top: 8vw;
	right: 0;
	color: $primary-color;
	font-size: 4vw;
	padding: 3vw;

	@media only screen and (max-width: 50em) and (orientation: portrait) {
		top: 58vw;
		font-size: 4.5vw;
		padding: 5vw;
	}
}

.form {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3vw;
	margin-bottom: 7vw;

	@media only screen and (max-width: 50em) and (orientation: portrait) {
		font-size: 5vw;
		flex-direction: column;
	}

	.email-label {
		padding-top: 0.5vw;
		margin-right: 2vw;
		color: $ternary-color;

		@media only screen and (max-width: 30em) and (orientation: portrait) {
			font-size: 6vw;
		}
	}

	.email-input {
		width: 60vw;
		border: none;
		border-radius: 0.5vw;
		padding: 0.5vw 0.8vw;
		background-color: rgb(232, 240, 254);

		@include background-opacity;
		@include email-placeholder;

		@media only screen and (max-width: 50em) and (orientation: portrait) {
			width: 72vw;
			margin-bottom: 2vw;
			padding: 2vw 2vw 1vw;
		}

		&[value] {
			font-family: 'Special Elite', cursive;
			font-size: 2vw;
			padding: 1.2vw 0.8vw 0.7vw;

			@media only screen and (max-width: 50em) and (orientation: portrait) {
				font-size: 5vw;
				padding: 2vw 2vw 1vw;
			}
		}
	}

	input[type='submit'] {
		background-color: $primary-color;
		color: $secondary-color;
		width: 15vw;
		font-family: 'Special Elite', cursive;
		font-size: 2.5vw;
		margin-left: 3vw;
		padding: 1.1vw 0.3vw 0.3vw 0.3vw;
		border: none;
		border-radius: 0.5vw;

		@media only screen and (max-width: 50em) and (orientation: portrait) {
			font-size: 5vw;
			margin-left: 0;
		}
	}
}

em,
.paragraph {
	z-index: 95;
	text-align: center;
	font-size: 3vw;
	line-height: 4vw;
	color: $ternary-color;

	@media only screen and (max-width: 50em) and (orientation: portrait) {
		font-size: 5vw;
		line-height: 8vw;
	}

	&-2 {
		font-size: 2vw;
		font-style: italic;
		font-weight: normal;
		opacity: 0.8;
		color: $ternary-color;

		@media only screen and (max-width: 50em) and (orientation: portrait) {
			font-size: 4vw;
			text-align: center;
		}
	}
}

.site-author {
	margin: 6vw auto 1vw;

	@media only screen and (max-width: 50em) {
		margin: 5vw auto 2vw;
		line-height: 5vw;
	}

	span {
		color: $primary-color;
		@media only screen and (max-width: 50em) and (orientation: portrait) {
			font-size: 4vw;
			padding: 0 7vw;
		}
	}
}

.site-link {
	margin: -2vw auto;
}

.icon {
	padding: 0 1vw;
	margin: -0.5vw auto;

	@media only screen and (max-width: 50em) and (orientation: portrait) {
		display: block;
		width: 7vw;
		padding: 1vw;
	}
}

.icon-authors {
	margin: 0vw auto;

	@media only screen and (max-width: 50em) and (orientation: portrait) {
		width: 70%;
		font-size: 5vw;
		margin: 0vw auto;
		line-height: 6.5vw;
	}
}

.footer-link {
	text-decoration: none;
	color: $primary-color;

	&:hover,
	&:active {
		color: $primary-color-active;
	}

	@media only screen and (max-width: 50em) and (orientation: portrait) {
		font-size: 4vw;
	}
}
